// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

/* Color Source: https://color.adobe.com/search?q=Outdoor&t=hex */
/* Color Theme Swatches in Hex */
$Primary: #013440;
$SecondaryTint: #93B7BF;
$Secondary: #A0D3D9;
$ComplimentTint: #D9B68B;
$Compliment: #A69580;

/* Default Fonts */
//$heading-font-family: 'PT Sans', Sans-Serif;
//$body-font-family: 'Playfair Display';
//$font-size-root: 18px;
